{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": [
    "dist"
  ]
}
